/* 4px */
$space-micro: 0.25rem !default;
/* 8px */
$space-tiny: 0.5rem !default;
/* 16px */
$space-small: 1rem !default;
/* 24px */
$space-default: 1.5rem !default;
/* 32px */
$space-medium: 2rem !default;
/* 48px */
$space-large: 3rem !default;
/* 64px */
$space-xlarge: 4rem !default;